* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Merriweather, sans-serif;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

/* HEADER */
header {
  height: 140px;
  width: 100%;
  background-color: #6D1A1A;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 100px;
  margin-right: 20px;
}

#left-header {
  height: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#right-header {
  height: 100%;
  margin-right: 50px;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link:hover {
  color: #ded0bc;
}

/* MAIN */
body {
  background-color: #ded0bc
}

.main-page {
  padding-top: 160px;
  font-size: 20px;
  background-color: #ded0bc;
  color: #2E2E2E;
}

.title-page {
  font-size: 30px;
}

.white-circle img {
  height: 50px;
}

/* CARD */
figure img {
  height: 75vh;
}

.dates {
  width: 40%;
  margin-left: 80px;
  line-height: 40px;
}

/* FAVOURITES */
.heart {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 30px;
}

.heart-card {
  font-size: 30px;
}

.add-favourites-card {
  padding: 5px;
  font-size: 18px;
  color: #e6ded4;
  background-color: #6D1A1A;
  border: 2px solid #ded0bc;
  border-radius: 10px;
}

.heart:hover {
  cursor: pointer;
}

.heart-card:hover {
  cursor: pointer;
}

.add-favourites-card:hover {
  cursor: pointer;
}

.favourite-img {
  height: 250px;
}

/* COMPARATOR */
.add-comparator {
  position: absolute;
  bottom: 10%;
  right: 1%;
  padding: 5px;
  font-size: 18px;
  color: #2E2E2E;
  background-color: #e6ded4;
  border: 2px solid #ded0bc;
  border-radius: 10px;
}

.add-comparator-card {
  padding: 5px;
  font-size: 18px;
  color: #2E2E2E;
  background-color: #e6ded4;
  border: 2px solid #ded0bc;
  border-radius: 10px;
}

.remove-comparator {
  background-color: #6D1A1A;
  color: #e6ded4;
}

.add-comparator:hover {
  cursor: pointer;
}

.add-comparator-card:hover {
  cursor: pointer;
}

/* CLASSES */
.link-text {
  text-decoration: none;
  color: #e6ded4;
}

.link-main {
  text-decoration: none;
  color: #2E2E2E;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 0;
}

div.wd-30 img {
  height: 250px;
  text-align: center;
}

.wd-30 {
  width: calc(33.333% - 20px);
  position: relative;
  display: flex;
  align-items: center;
  border: 3px solid #e6ded4;
  border-radius: 15px;
}

.wd-50 {
  width: 50%;
}

.wd-80 {
  width: 80%;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 3px solid #e6ded4;
  border-radius: 15px;
}

.white-circle {
  height: 80px;
  width: 80px;
  margin: 20px 20px 10px 20px;
  border-radius: 50%;
  background-color: #e6ded4;
}

.input-search {
  width: 35%;
  font-size: 18px;
  padding: 5px;
  color: #2E2E2E;
  background-color: #e6ded4;
  border: 2px solid #2E2E2E;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sort {
  font-size: 18px;
  padding: 4px;
  color: #2E2E2E;
  background-color: #e6ded4;
  border: 2px solid #2E2E2E;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.disabled {
  background-color: #ded0bc;
  color: #2E2E2E;
}

.disabled:hover {
  cursor: default;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-red {
  color: #6D1A1A;
}

.text-black {
  color: #2E2E2E;
}

.px-10 {
  padding: 0 10px;
}

.px-20 {
  padding: 0 20px;
}

.p-10 {
  padding: 10px;
}

.my-40 {
  margin: 40px 0;
}

.ms-40 {
  margin-left: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 5px;
}

.fs-40 {
  font-size: 40px;
}

.fs-18 {
  font-size: 18px;
}

.fs-15 {
  font-size: 15px;
}