* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Merriweather, sans-serif;
}

/* HEADER */
header {
  height: 130px;
  width: 100%;
  background-color: #6D1A1A;
  color: #F5EFE6;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 100px;
  line-height: center;
}

#left-header {
  height: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#right-header {
  height: 100%;
  margin-right: 50px;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* CLASSES */
.main-page {
  padding-top: 130px;
}

.py-10 {
  padding: 0 10px;
}