* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Merriweather, sans-serif;
}

/* HEADER */
header {
  height: 140px;
  width: 100%;
  background-color: #6D1A1A;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 100px;
  margin-right: 20px;
}

#left-header {
  height: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#right-header {
  height: 100%;
  margin-right: 50px;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* MAIN */
.main-page {
  padding-top: 160px;
  font-size: 20px;
  background-color: #ded0bc;
  color: #2E2E2E;
}

.title-page {
  font-size: 30px;
}

.white-circle img {
  height: 50px;
}

/* CLASSES */
.link-text {
  text-decoration: none;
  color: #e6ded4;
}

.link-main {
  text-decoration: none;
  color: #2E2E2E;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 0;
}

div.wd-30 img {
  height: 250px;
  text-align: center;
}

.wd-30 {
  width: calc(33.333% - 20px);
  display: flex;
  align-items: center;
  border: 3px solid #e6ded4;
  border-radius: 15px;
}

.white-circle {
  height: 80px;
  width: 80px;
  margin: 20px 20px 10px 20px;
  border-radius: 50%;
  background-color: #e6ded4;
}

.input-search {
  font-size: 18px;
  padding: 5px;
  color: #2E2E2E;
  background-color: #e6ded4;
  border: 2px solid #2E2E2E;
  border-radius: 10px;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.px-10 {
  padding: 0 10px;
}

.px-20 {
  padding: 0 20px;
}

.p-10 {
  padding: 10px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 5px;
}

.fs-18 {
  font-size: 18px;
}

.fs-15 {
  font-size: 15px;
}